{% extends 'partials/base_index.html' %}
{% load static %}
{% block content %}
        <section class="galeria">
            <img class="galeria-banner" src="{% static 'assets/imagens/banner_futebol.png' %}" alt="Banner da página">
            <h1 class="galeria-titulo">Campeonatos</h1>
            <table class="campeonatos__tabela" border="1">
                <thead>
                    <tr>
                        <th class="campeonatos__tabela__cabecalho">Campeonato</th>
                        <th class="campeonatos__tabela__cabecalho">Categoria</th>
                        <th class="campeonatos__tabela__cabecalho">Principal</th>
                        <th class="campeonatos__tabela__cabecalho">Pontos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campeonato in campeonatos %}
                    <tr>
                        <td class="campeonatos__tabela__conteudo">{{campeonato.nome_campeonato}}</td>
                        <td class="campeonatos__tabela__conteudo">{{campeonato.categoria}}</td>
                        <td class="campeonatos__tabela__conteudo">{{campeonato.principal}}</td>
                        <td class="campeonatos__tabela__conteudo">{{campeonato.pontuacao}}</td>
                        {% if campeonato.usuario == request.user %}
                        <td class="campeonatos__tabela__botoes">
                            <a  class="link__editar__campeonato" href="{% url 'editar_campeonato' campeonato.id %}">
                            <img class="editar__imagem" src="{% static 'assets/icone/var.png' %}" alt="Imagem do VAR">
                            <p class="editar__texto">Edit</p>
                            </a>
                        </td>
                        <td class="campeonatos__tabela__botoes">
                            <a  class="link__editar__campeonato" href="{% url 'deletar_campeonato' campeonato.id %}">
                            <img class="deletar__imagem" src="{% static 'assets/icone/apito.png' %}" alt="Imagem de Apito">
                            <p class="deletar__texto">Del</p>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}                        
            </table>
            <a class="link__novo__time" href="{% url 'novo_campeonato' %}"><button class="novo__time">Novo Campeonato</button></a>            
        </section>
{% endblock %}        
       