{% extends 'partials/base_index.html' %}
{% load static %}
{% block content %}
        <section class="galeria">
            <img class="galeria-banner" src="{% static 'assets/imagens/banner_futebol.png' %}" alt="Banner da página">
            <h1 class="galeria-titulo">Campeonatos</h1>
            <table class="campeonatos__tabela" border="1">
                <thead>
                    <tr>
                        <th class="campeonatos__tabela__cabecalho">Campeonato</th>
                        <th class="campeonatos__tabela__cabecalho">Categoria</th>
                        <th class="campeonatos__tabela__cabecalho">Principal</th>
                        <th class="campeonatos__tabela__cabecalho">Pontos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Campeonato Brasileiro</td>
                        <td class="campeonatos__tabela__conteudo">Nacional</td>
                        <td class="campeonatos__tabela__conteudo">SIM</td>
                        <td class="campeonatos__tabela__conteudo">50</td>
                        <td class="campeonatos__tabela__botoes">
                            <img class="editar__imagem" src="{% static 'assets/icone/var.png' %}" alt="Imagem do VAR">
                            <p class="editar__texto">Edit</p>
                        </td>
                        <td class="campeonatos__tabela__botoes">
                            <img class="deletar__imagem" src="{% static 'assets/icone/apito.png' %}" alt="Imagem de Apito">
                            <p class="deletar__texto">Del</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa do Brasil</td>
                        <td class="campeonatos__tabela__conteudo">Nacional</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">25</td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa dos Campeões</td>
                        <td class="campeonatos__tabela__conteudo">Nacional</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">25</td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Super Copa do Brasil</td>
                        <td class="campeonatos__tabela__conteudo">Nacional</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">25</td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa Libertadores das Américas</td>
                        <td class="campeonatos__tabela__conteudo">Continental</td>
                        <td class="campeonatos__tabela__conteudo">SIM</td>
                        <td class="campeonatos__tabela__conteudo">80</td>
                        <td class="campeonatos__tabela__botoes">
                            <img class="editar__imagem" src="{% static 'assets/icone/var.png' %}" alt="Imagem do VAR">
                            <p class="editar__texto">Edit</p>
                        </td>
                        <td class="campeonatos__tabela__botoes">
                            <img class="deletar__imagem" src="{% static 'assets/icone/apito.png' %}" alt="Imagem de Apito">
                            <p class="deletar__texto">Del</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa Mercosul</td>
                        <td class="campeonatos__tabela__conteudo">Continental</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">40</td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa Sulamericana</td>
                        <td class="campeonatos__tabela__conteudo">Continental</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">40</td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Recopa Sulamericana</td>
                        <td class="campeonatos__tabela__conteudo">Continental</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">40</td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa do Mundo de Clubes</td>
                        <td class="campeonatos__tabela__conteudo">Mundial</td>
                        <td class="campeonatos__tabela__conteudo">SIM</td>
                        <td class="campeonatos__tabela__conteudo">100</td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa Rio</td>
                        <td class="campeonatos__tabela__conteudo">Mundial</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">50</td>
                        <td class="campeonatos__tabela__botoes">
                            <img class="editar__imagem" src="{% static 'assets/icone/var.png' %}" alt="Imagem do VAR">
                            <p class="editar__texto">Edit</p>
                        </td>
                        <td class="campeonatos__tabela__botoes">
                            <img class="deletar__imagem" src="{% static 'assets/icone/apito.png' %}" alt="Imagem de Apito">
                            <p class="deletar__texto">Del</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="campeonatos__tabela__conteudo">Copa Toyota</td>
                        <td class="campeonatos__tabela__conteudo">Mundial</td>
                        <td class="campeonatos__tabela__conteudo">NÃO</td>
                        <td class="campeonatos__tabela__conteudo">50</td>
                    </tr>                        
            </table>
            <a class="link__novo__time" href="novo_campeonato.html"><button class="novo__time">Novo Campeonato</button></a>            
        </section>
{% endblock %}        
       