{% extends 'partials/base_index.html' %}
{% load static %}
{% block content %}
        <section class="galeria">
            <h1 class="galeria-titulo">Cadastro de Novo Time</h1>
            <form action="{% url 'editar_time' time_id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="formulario-cadastro">
                    {% for field in forms.visible_fields %}
                    <div class="cadastro__campo">
                        <label class="cadastro__label" for="id_for_field">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <div class="cadastro__botoes">
                        <button class="botoes__botao" type="submit">Editar</button>
                        <button class="botoes__botao" type="submit" style="background-color:crimson;">Cancelar</button>
                    </div>
                </div>
            </form>
        </section>
{% endblock %}