{% extends 'partials/base_index.html' %}
{% load static %}
{% block content %}
        <section class="galeria">
            <img class="galeria-banner" src="{% static 'assets/imagens/banner_futebol.png' %}" alt="Banner da página">
            <h1 class="galeria-titulo">Galeria de Rankings</h1>
            <ul class="galeria-cards">
                <li>
                    <a class="rk-cards__card" href="{% url 'ranking_geral' %}">
                        <img class="rk-card__simbolo" src="{% static 'assets/imagens/galeria/ranking/ranking_geral.jpg' %}" alt="Imagem capa Ranking Geral">
                        <h2 class="rk-card__titulo">Ranking Geral</h2>
                    </a>
                </li>
                <li>
                    <a class="rk-cards__card" href="{% url 'ranking_nacional' %}">
                        <img class="rk-card__simbolo" src="{% static 'assets/imagens/galeria/ranking/ranking_nacional.jpg' %}" alt="Imagem capa Ranking Nacional">
                        <h2 class="rk-card__titulo">Ranking Nacional</h2>
                    </a>
                </li>
                <li>
                    <a class="rk-cards__card" href="{% url 'ranking_continental' %}">
                        <img class="rk-card__simbolo" src="{% static 'assets/imagens/galeria/ranking/ranking_continental.jpg' %}" alt="Imagem capa Ranking Continental">
                        <h2 class="rk-card__titulo">Ranking Continental</h2>
                    </a>
                </li>
                <li>
                    <a class="rk-cards__card" href="{% url 'ranking_mundial' %}">
                        <img class="rk-card__simbolo" src="{% static 'assets/imagens/galeria/ranking/ranking_mundial.jpg' %}" alt="Imagem capa Ranking Mundial">
                        <h2 class="rk-card__titulo">Ranking Mundial</h2>
                    </a>
                </li>
                <li>
                    <a class="rk-cards__card" href="{% url 'ranking_estado' %}">
                        <img class="rk-card__simbolo" src="{% static 'assets/imagens/galeria/ranking/ranking_por_estado.jpg' %}" alt="Imagem capa Ranking Por Estado">
                        <h2 class="rk-card__titulo">Ranking Por Estado</h2>
                    </a>
                </li>
                <li>
                    <a class="rk-cards__card" href="{% url 'ranking_campeonato' %}">
                        <img class="rk-card__simbolo" src="{% static 'assets/imagens/galeria/ranking/ranking_por_campeonato.jpg' %}" alt="Imagem capa Ranking Por Campeonato">
                        <h2 class="rk-card__titulo">Ranking Por Campeonato</h2>
                    </a>
                </li>
        </section>
{% endblock %}