{% extends 'galeria/partials/base_times.html' %}
{% load static %}
{% block content %}
        <section class="galeria">
            <div class="galeria-times">
                <img class="galeria-times__imagem" src="{% static 'assets/imagens/galeria/times/logo-palmeiras.png' %}" alt="Simbolo do Palmeiras">
                <h1 class="galeria-times__titulo">Sociedade Esportiva Palmeiras</h1>
                <p class="galeria-times__texto">
                    A Sociedade Esportiva Palmeiras, fundada em 26 de agosto de 1914 por imigrantes italianos em São Paulo como Palestra Italia, mudou de nome em 1942 devido à Segunda Guerra Mundial. Conhecido por sua "Academia de Futebol" nas décadas de 1950 e 1960, o clube conquistou vários títulos importantes. Na década de 1990, a parceria com a Parmalat trouxe grandes vitórias, incluindo a Copa Libertadores de 1999. Após um período de dificuldades no início dos anos 2000, o Palmeiras se reergueu, vencendo a Libertadores em 2020 e 2021, consolidando-se como uma das potências do futebol brasileiro.</p>
            </div>
        </section>
{% endblock %}