@import url('style.css');

.footer {
    display: flex;
    justify-content: space-between;
    background: var(--cor-detalhes-secudaria);
    padding: 0.6rem;
    font-size: 1.2rem;
}

.footer-texto {
    margin-left: 30rem;
}

.footer-logado {
    font-weight: bold;
    color: var(--cor-detalhes-terciaria);
}