@import url('style.css');

.galeria {
    margin: 0 3rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.galeria-banner {
    width: 855px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--sombra-primaria);
}

.galeria-titulo {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 0;
}

.galeria-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 2rem;
    column-gap: 1.5rem;
}

li {
    list-style: none;
}

.cards__card,
.cards__card:visited {
    color: var(--cor-fonte-primaria);
    text-decoration: none;
    border: 2px solid var(--cor-detalhes-secudaria);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    box-shadow: 5px 5px 10px var(--sombra-secundaria);
}

.cards__card:hover {
    opacity: 50%;
}

.card__simbolo {
    width: 250px;
}

.card__titulo {
    font-size: 2rem;
    font-weight: bold;
}

.rk-cards__card,
.rk-cards__card:visited {
    background: var(--cor-detalhes-secudaria);
    color: var(--cor-fonte-primaria);
    text-decoration: none;
    border: 2px solid var(--cor-detalhes-secudaria);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    box-shadow: 5px 5px 10px var(--sombra-secundaria);
}

.rk-cards__card:hover {
    opacity: 50%;
}

.rk-card__simbolo {
    width: 400px;
    border-radius: 10px;
}

.rk-card__titulo {
    font-size: 2rem;
    font-weight: bold;
}

.formulario-cadastro {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cadastro__campo{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: flex-start;
}

.cadastro__input {
    width: 500px;
    height: 20px;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--cor-detalhes-secudaria);
}

.cadastro__label {
    font-size: 1.2rem;
    font-weight: bold;
}

.cadastro__botoes {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}

.botoes__botao {
    width: 200px;
    padding: 0.75rem;
    background: var(--cor-detalhes-secudaria);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.botoes__botao:hover {
    opacity: 50%;
}

.galeria-times {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.galeria-times__imagem {
    width: 400px;
    margin-top: 4rem;
    align-self: center;
}

.galeria-times__titulo {
    font-size: 2.5rem;
    font-weight: bold;
}

.galeria-times__texto {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

.galeria-tb-times,
.galeria-rankings {
    margin: 2rem 6rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.tb-times__titulo,
.rankings__titulo {
    font-size: 2.5rem;
    font-weight: bold;
}

.tb-times__imagem, 
.rankings__imagem {
    width: 240px;
}

.tb-times__tabela,
.rankings__tabela,
.campeonatos__tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
}

.tb-times__tabela__cabecalho,
.tb-times__tabela__conteudo,
.rankings__tabela__cabecalho,
.rankings__tabela__conteudo,
.campeonatos__tabela__cabecalho,
.campeonatos__tabela__conteudo {
    padding: 10px;
    border: 2px solid var(--cor-fonte-primaria);
}

.tb-times__tabela__cabecalho,
.rankings__tabela__cabecalho,
.campeonatos__tabela__cabecalho {
    font-size: 1.6rem;
}

.tb-times__tabela__conteudo:first-child,
.tb-times__tabela__cabecalho:first-child {
    width: 250px;
}

.rankings__tabela__cabecalho:nth-child(2),
.rankings__tabela__conteudo:nth-child(2) {
    width: 150px;
}

.rankings__tabela__conteudo {
    font-size: 1.5rem;
}

.conteudo__time {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo__time__imagem {
    width: 25px;
}

.galeria-novo-titulo {
    margin: 10rem 10rem 0 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.link__novo__time {
    width: 60%;
    align-self: center;
}

.novo__time {
    width: 100%;
    background: var(--cor-detalhes-secudaria);
    color: var(--cor-fonte-primaria);
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-radius: 20px;
    padding: 0.5rem;
    margin-top: 2rem;
}

.novo__time:hover {
    opacity: 50%;
}

.campeonatos__tabela__botoes {
    border: none;
}

.editar__texto,
.deletar__texto {
    font-size: 0.8rem;
}

.editar__texto {
    color: var(--cor-detalhes-secudaria);
}

.deletar__texto {
    color: var(--cor-detalhes-terciaria);
}

.editar__imagem,
.deletar__imagem {
    width: 20px;
}

.tb-times__tabela__botoes {
    width: 45px;
}



